streamlit

numpy
pandas
scikit-learn
joblib

langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.32
langchain-text-splitters

langchain-groq
openai

sentence-transformers

python-dotenv
youtube-transcript-api
reportlab
duckduckgo-search
tqdm
requests
pydantic
typing-extensions
